h1 {
  text-align: center;
  justify-content: center;
  background-color: rgb(156, 156, 156);
}
table {
  width: 90%;
  text-align: center;
  justify-content: center;
  margin: auto;
  border-collapse: collapse;
}
#form {
  background-color: rgb(156, 156, 156);
  height: 100%;
  height: 100px;
  text-align: center;
  justify-content: center;
  padding: 10px;
}
