h1 {
  text-align: center;
  justify-content: center;
  background-color: rgb(156, 156, 156);
}
table {
  width: 95%;
  text-align: center;
  justify-content: center;
  margin: auto;
}
#form {
  background-color: rgb(156, 156, 156);
  height: 100%;
}
